.bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgb(11, 8, 6);
  color: var(--white);
}

.bookmark:hover {
  cursor: pointer;
  box-shadow: black 1px 2px 30px 2px;
}

.bookmark--active {
  color: var(--black);
}

.bookmark__icon {
  fill: currentcolor;
  width: 2em;
}

.bookmark.active {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary);
  color: black;
}
